{% set session = app.session.has('_app_booking') %}
{% set data = booker.bookingData %}
{% set night = app_booking_days(data.checkin, data.checkout) %}
{% set room_nbr = data.roomNumber %}
{% set priceReduced = get_promotion(room) %}

<section class="container">
    <div class="row room-gallery-bulk mb-4">
        <div class="col-12">
            {{ include('ui/_flashes_message.html.twig') }}
        </div>
        <div class="col-12">
            {{ include('site/room/show/_gallery.html.twig') }}
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <h4 class="h4-responsive text-dark font-weight-bold">Informations sur l'hébergement</h4>
            <p>{{ room.description|raw }}</p>
        </div>

        <div class="col-12 d-flex flex-wrap">
            {% if room.area %}
                <div class="mr-3 mb-3">
                    <div class="text-dark font-weight-bold">Superficie</div>
                    <div class="badge badge-default font-weight-stone-500">
                        <i class="fas fa-border-style mr-1 text-white small-8"></i> {{ room.area }} m²
                    </div>
                </div>
            {% endif %}

            <div class="mr-3 mb-3">
                <div class="text-dark font-weight-bold">Capacité maximale</div>
                <div class="badge badge-default font-weight-stone-500">
                    <i class="fas fa-user-friends mr-1 text-white small-8"></i> {{ room.occupant }} Personnes
                </div>
            </div>

            {% if room.couchage %}
                <div class="mr-3 mb-3">
                    <div class="text-dark font-weight-bold">Couchage</div>
                    <div class="badge badge-default font-weight-stone-500">
                        <i class="fas fa-bed mr-1 text-white small-8"></i> {{ room.couchage }}
                    </div>
                </div>
            {% endif %}

            <div class="mr-3 mb-3">
                <div class="text-dark font-weight-bold">Wifi</div>
                <div class="badge badge-default font-weight-stone-500">
                    <i class="fas fa-wifi mr-1 text-white small-8"></i> Gratuit
                </div>
            </div>

            {% if room.smoker %}
                <div class="mr-3 mb-3">
                    <div class="text-dark font-weight-bold">Fumeurs ou non-fumeurs</div>
                    <div class="badge badge-default font-weight-stone-500">
                        {% if room.smoker == 'Non-fumeurs' %}
                            <i class="fas fa-smoking-ban mr-1 text-white small-8"></i> Non-fumeurs
                        {% elseif room.smoker == 'Fumeurs' %}
                            <i class="fas fa-smoking mr-1 text-white small-8"></i> Fumeurs
                        {% elseif room.smoker == 'Cet hébergement est fumeurs et non-fumeurs' %}
                            <i class="fas fa-smoking-ban mr-1 text-white small-8"></i>
                            <i class="fas fa-smoking mr-1 text-white small-8"></i> Fumeurs et non-fumeurs
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>

        {% if room.equipments|length > 0 %}
            <div class="col-12 mt-2">
                <h6 class="font-weight-bold text-dark d-inline-block" style="border-bottom: 1.8px solid #212121">Équipements de la chambre</h6>
                <div>
                    {% for equipments in room.equipments %}
                        <div class="badge badge-default small-8 text-white font-weight-stone-500 mr-3">{{ equipments.name }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}


        {% if room.supplements|length > 0 %}
            <div class="col-12 mt-3">
                <h6 class="font-weight-bold text-dark d-inline-block" style="border-bottom: 1.8px solid #212121">Supplements</h6>
                <div>
                    {% for supplements in room.supplements %}
                        <div class="badge badge-default small-8 text-white font-weight-stone-500 mr-3">{{ supplements.name }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="col-12">
            <div class="price text-right">
                <div class="text-danger number">
                    {% set price = app_calculate_price(room) * night * room_nbr %}

                    {% if priceReduced %}
                        <div class="grey-text">
                            <small class="font-weight-stone-500" style="font-size: 1.1rem; position:relative; top: 10px">
                                <s>{{ price|format_currency('XOF') }}</s>
                            </small>
                        </div>
                        <div>
                            {% set reduce = ((price * priceReduced) / 100) %}
                            <strong class="h3-responsive">{{ (price - reduce)|format_currency('XOF') }}</strong>
                        </div>
                    {% else %}
                        <strong class="h3-responsive">{{ price|format_currency('XOF') }}</strong>
                    {% endif %}
                </div>

                {% if session %}
                    {% set room_number = session['room_nbr'] %}

                    <div class="d-flex justify-content-end">
                        <div class="dark-grey-text info font-weight-stone-500 w-50 small-9">
                            {{ (room.totalPrice * room_nbr)|format_currency('XOF') }}
                            par nuit pour {{ room_nbr }} chambres.
                            Taxes et frais compris
                        </div>
                    </div>
                {% else %}
                    <div class="dark-grey-text info font-weight-stone-500 small-8" style="margin-top: -8px;">Taxes et frais compris</div>
                {% endif %}
            </div>
            <div class="booking-btn mt-2 mb-0">
                {% set btn_state = room_available <= 0 ? false : true %}

                {% if session %}
                    <a href="{{ path('app_booking_check', {'id': room.id}) }}" class="btn btn-primary btn-block {% if not btn_state %}disabled{% endif %}">
                        <i class="fas fa-calendar-day mr-1"></i>
                        {% if btn_state %}
                            Réserver {% if session %} {{ room_nbr }} {{ room_nbr > 1 ? 'chambres' : 'chambre' }}{% endif %}
                            <span class="d-none d-md-inline">maintenant</span>
                        {% else %}
                            Complet
                        {% endif %}
                    </a>
                {% else %}
                    <a href="" class="btn btn-primary btn-block booking-data-select-btn {% if not btn_state %}disabled{% endif %}"
                       data-id="{{ room.id }}" data-url="{{ path('app_booking_select', {'id': room.id}) }}">
                        <i class="fas fa-calendar-day mr-1"></i>
                        {% if btn_state %}Réserver <span class="d-none d-md-inline">maintenant</span>{% else %}Complet{% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% if equipments|length > 0 %}
    <section class="mt-5 container">
        <div class="row">
            <div class="col-12">
                <h4 class="h4-responsive text-dark font-weight-bold mb-3">Équipements de l'hôtel</h4>
            </div>
        </div>
        <div class="row">
            {% for equipment in equipments %}
                <div class="col-12 col-md-4 col-lg-3 mb-4">
                    <div class="text-dark font-weight-bold mb-2">{{ equipment.name }}</div>
                        {% if equipment.values|length > 0 %}
                            <div>
                                {% for value in equipment.values %}
                                    <div class="dark-grey-text mb-2">
                                        <i class="fas fa-angle-double-right text-primary mr-1"></i> {{ value.value }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
