<div class="form-row mb-2">
    <div class="col-12">
        <div class="h5-responsive" style="border-bottom: 1.8px solid #212121">
            <div class="badge badge-dark d-inline-block mr-1" style="position: relative; bottom: 6px;">1</div>
            <div class="text-dark d-inline-block font-weight-stone-500">Information de base</div>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-12 col-md-4">
        {{ form_row(form.name) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.roomNumber) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.price) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.occupant) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.area) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.couchage) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_widget(form.smoker) }}
    </div>
    <div class="col-12 col-md-8 mt-2 mb-3">
        <div class="mb-1 font-weight-stone-500 dark-grey-text">Description (Facultatif)</div>
        {{ form_widget(form.description) }}
    </div>
</div>
<div class="form-row mb-2 mt-3">
    <div class="col-12">
        <div class="h5-responsive" style="border-bottom: 1.8px solid #212121">
            <div class="badge badge-dark d-inline-block mr-1" style="position: relative; bottom: 6px;">2</div>
            <div class="text-dark d-inline-block font-weight-stone-500">Information complémentaire</div>
        </div>
    </div>
</div>
<div class="form-row mt-3">
    <div class="col-12">
       <div class="app-checkbox-field-bulk">
            <div class="dark-grey-text font-weight-stone-500 mb-1">{{ form.equipments.vars.label }}</div>
            {{ form_widget(form.equipments) }}
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="app-checkbox-field-bulk">
            <div class="dark-grey-text font-weight-stone-500 mb-1">{{ form.supplements.vars.label }}</div>
            {{ form_widget(form.supplements) }}
        </div>
    </div>
</div>
<div class="form-row mt-3 mb-2">
    <div class="col-12">
        <div class="h5-responsive" style="border-bottom: 1.8px solid #212121">
            <div class="badge badge-dark d-inline-block mr-1" style="position: relative; bottom: 6px;">3</div>
            <div class="text-dark d-inline-block font-weight-stone-500">Taxe et visibilité</div>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-12 col-md-4">
        {{ form_widget(form.taxe) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_widget(form.enabled) }}
    </div>
</div>







