{% set data = booker.bookingData %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'booking-data-form container', 'id': 'booking-data-form'}}) }}
    {{ form_widget(form.checkin) }}
    {{ form_widget(form.checkout) }}
    {{ form_widget(form.adult) }}
    {{ form_widget(form.children) }}
    {{ form_widget(form.roomNumber) }}

    <div class="row booking-form-bulk">
        <div class="col-6 col-md-3">
            <div id="booking-checkin-btn" class="booking-bulk checkin-bulk">
                <div class="checkin d-flex align-items-center">
                    <div class="icon"><i class="fas fa-calendar text-primary"></i></div>
                    <div>
                        <div class="title text-dark">Arrivée</div>
                        <div class="date-content dark-grey-text">
                            {{ data.checkin|format_datetime('medium', 'none', locale='fr') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div id="booking-checkout-btn" class="booking-bulk checkout-bulk">
                <div class="checkout d-flex align-items-center">
                    <div class="icon"><i class="fas fa-calendar text-primary"></i></div>
                    <div>
                        <div class="title text-dark">Départ</div>
                        <div class="date-content dark-grey-text">
                            {{ data.checkout|format_datetime('medium', 'none', locale='fr') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <div id="booking-booker-btn" class="booking-bulk user-bulk">
                <div class="user d-flex align-items-center">
                    <div class="icon"><i class="fas fa-user text-primary"></i></div>
                    <div>
                        <div class="title text-dark">Voyageurs</div>
                        <div class="date-content dark-grey-text">
                            <span class="room">{{ data.roomNumber }} chambre, </span>
                            <span class="customer">{{ data.adult }} adultes, </span>
                            <span class="children">{{ data.children }} enfants</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2 col-lg-2 booking-form-btn-bulk">
            <button type="submit" class="btn btn-primary booking-form-btn z-depth-0">
                Réserver
            </button>
        </div>
    </div>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
