{% form_theme form_update 'Ui/Form/theme.html.twig' %}

<section class="container my-4 mt-lg-5">
    <div class="row">
        <div class="col-12">
            {{ form_start(form_update, {'attr': { 'class': 'fos_user_profile_edit', 'novalidate': 'novalidate' } }) }}
            <div class="card card-cascade mb-5">
                <div class="view view-cascade gradient-card-header bg-primary pt-3 pb-2 z-depth-2">
                    <h5 class="card-header-title h5-responsive">Vos informations</h5>
                </div>
                <div class="card-body card-body-cascade">
                    <div class="form-row">
                        <div class="col-12 col-md-4 col-lg-3">
                            {{ form_row(form_update.lastName) }}
                        </div>
                        <div class="col-12 col-md-4 col-lg-3">
                            {{ form_row(form_update.firstName) }}
                        </div>
                        <div class="col-12 col-md-4 col-lg-3">
                            {{ form_row(form_update.email) }}
                        </div>
                        <div class="col-12 col-md-4 col-lg-3">
                            {{ form_row(form_update.phone) }}
                        </div>
                        <div class="col-12 col-md-4 col-lg-3">
                            {{ form_row(form_update.username) }}
                        </div>
                        <div class="col-12 col-md-4 col-lg-3">
                            {{ form_row(form_update.address) }}
                        </div>
                        <div class="col-12 col-md-4 col-lg-3">
                            {{ form_widget(form_update.country) }}
                        </div>
                        <div class="col-12 col-md-4 col-lg-3">
                            {{ form_row(form_update.city) }}
                        </div>
                    </div>
                    {{ form_widget(form_update._token) }}

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-pencil-alt mr-2"></i> Modifier mon profil
                        </button>
                    </div>
                </div>
            </div>
            {{ form_end(form_update, {'render_rest': false}) }}
        </div>
    </div>
</section>





