{% form_theme form 'ui/Form/theme.html.twig' %}

<section class="container mb-5">
    <div class="row">
        <div class="col-lg-9 col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h1 class="h1-responsive display-3 mb-3 text-center font-weight-bold text-dark">
                        {% if oauth_type %}Se connecter avec {{ oauth_type }}{% else %}S'inscrire{% endif %}
                    </h1>
                    {% if oauth_registration %}
                        <div class="alert alert-info" role="alert">
                            Vous y êtes presque, il ne vous reste plus qu'à choisir votre
                            nom d'utilisateur et votre numero de telephone
                        </div>
                    {% endif %}

                    {% if errors|length > 0 %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in errors %}
                                {{ error.message }}
                                {% if not loop.last %}<br />{% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {{ form_start(form) }}
                    <div class="form-row">
                        {% if form.lastname is defined %}
                            <div class="col-12 col-md-6 col-lg-4">
                                {{ form_row(form.lastname) }}
                            </div>
                        {% endif %}

                        {% if form.firstname is defined %}
                            <div class="col-12 col-md-6 col-lg-4">
                                {{ form_row(form.firstname) }}
                            </div>
                        {% endif %}

                        {% if form.email is defined %}
                            <div class="col-12 col-md-6 col-lg-4">
                                {{ form_row(form.email) }}
                            </div>
                        {% endif %}

                        <div class="col-12 col-md-6 col-lg-4 phone-field">
                            {{ form_row(form.phone) }}
                        </div>

                        {% if form.plainPassword is defined %}
                            <div class="col-12 col-md-6 col-lg-4">
                                {{ form_widget(form.plainPassword.first) }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                {{ form_widget(form.plainPassword.second) }}
                            </div>
                        {% endif %}
                    </div>

                    {{ form_widget(form._token) }}

                    <div class="small-9 mt-3 mb-4 text-center">
                        En créant un compte, j'accepte les <a href="{{ path('app_cgu') }}" class="link font-weight-stone-500">conditions d'utilisation</a>
                        et la <a href="{{ path('app_confidentialite') }}" class="link font-weight-stone-500">politique de confidentialité</a> de {{ config.get.name }}.
                    </div>

                    <div class="text-center my-3">
                        <button type="submit" class="btn btn-primary" >S'inscrire</button>
                    </div>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <div class="text-secondary pb-2 font-weight-stone-600">
                        Vous avez déja un compte ?
                    </div>
                    <div class="mt-3">
                        <a href="{{ path('app_login') }}" class="btn btn-outline-primary">Connectez-vous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


