{% set room = promotion.room %}
{% set data = booker.bookingData %}
{% set night = app_booking_days(data.checkin, data.checkout) %}
{% set room_nbr = data.roomNumber %}
{% set priceReduced = promotion.discount %}

<div id="promotion_{{ promotion.id }}" class="card card-cascade z-depth-4 mb-4 wow fadeInRight">
    <div class="view view-cascade overlay">
        {% if not vich_uploader_asset(promotion, 'file') %}
            <img class="card-img-top" src="{{ vich_uploader_asset(promotion, 'file') }}" alt="Room promotion image">
        {% else %}
            <img class="card-img-top" src="{{ asset('assets/img/no_photo.png') }}" alt="Hostel room image">
        {% endif %}
        <a><div class="mask rgba-black-light"></div></a>
    </div>
    <div class="card-body card-body-cascade text-left px-3 pt-3 pb-2">
        <div class="remise pink darken-1 z-depth-3 small-9">Remise de {{ priceReduced }}%</div>
        <div class="promotion-date blue darken-1 z-depth-3 small-9">
            Du {{ promotion.start|format_datetime('medium', 'none', locale='fr') }} au {{ promotion.end|format_datetime('medium', 'none', locale='fr') }}
        </div>
        <h5 class="text-dark h5-responsive font-weight-bold mt-0">{{ promotion.name }}</h5>
        <ul class="list-unstyled dark-grey-text">
            {% if room.area %}
                <li><i class="fas fa-border-style mr-1 my-2"></i> {{ room.area }} m²</li>
            {% endif %}
            <li><i class="fas fa-user-friends mr-1 my-2"></i> {{ room.occupant }} Personnes</li>
            {% if room.couchage %}
                <li><i class="fas fa-bed mr-1 my-2"></i> {{ room.couchage }}</li>
            {% endif %}
            <li><i class="fas fa-wifi mr-1 my-2"></i> Accès Wi-Fi gratuit</li>
            {% if room.smoker %}
                {% if room.smoker == 'Non-fumeurs' %}
                    <li><i class="fas fa-smoking-ban mr-1 mt-2"></i> Non-fumeurs</li>
                {% elseif room.smoker == 'Fumeurs' %}
                    <li><i class="fas fa-smoking mr-1 mt-2"></i> Fumeurs</li>
                {% elseif room.smoker == 'Cet hébergement est fumeurs et non-fumeurs' %}
                    <li>
                        <i class="fas fa-smoking-ban mr-1 mt-2"></i>
                        <i class="fas fa-smoking mr-1"></i> Fumeurs et non-fumeurs
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <div class="detail mb-2">
            <a href="{{ path('app_promotion_show', {'slug': promotion.slug}) }}" class="card-link">Détail sur la promotion <i class="fas fa-angle-right ml-2"></i></a>
        </div>
        <div class="detail mb-4">
            <a href="{{ path('app_room_show', {'slug': promotion.room.slug}) }}" class="card-link">Détail sur la chambre <i class="fas fa-angle-right ml-2"></i></a>
        </div>
        <div class="d-flex justify-content-between">
            <div class="price">
                <div class="text-danger number mb-1">
                    {% set price = app_calculate_price(room) * night * room_nbr %}

                    <div class="grey-text">
                        <small>
                            <s>{{ price|format_currency('XOF') }}</s>
                        </small>
                    </div>
                    <div>
                        {% set reduce = ((price * priceReduced) / 100) %}
                        <strong>{{ (price - reduce)|format_currency('XOF') }}</strong>
                    </div>
                </div>

                <div class="dark-grey-text info font-weight-stone-500">Taxes et frais compris</div>
            </div>
        </div>
        <div class="booking-btn mt-2 mb-0">
            <a href="" class="btn btn-primary btn-md btn-block">
                <i class="fas fa-calendar-day mr-1"></i> Réserver
            </a>
        </div>
    </div>
</div>
