{% set session = app.session.has('_app_booking') %}
{% set data = booker.bookingData %}
{% set night = app_booking_days(data.checkin, data.checkout) %}
{% set room_nbr = data.roomNumber %}
{% set booking_room_nbr = app_booking_room_nbr(room) %}
{% set room_available = room.roomNumber - booking_room_nbr %}
{% set priceReduced = app_room_promotion(room) %}

<div id="room_{{ room.id }}" class="card card-cascade narrower mb-4">
    <div class="view view-cascade overlay">
        {% if room.galleries|length %}
            <img class="card-img-top" src="{{ asset(room.galleries.first.webPath) }}" alt="{{ room.galleries.first.name }}">
        {% else %}
            <img class="card-img-top" src="{{ asset('images/no_photo.png') }}" alt="Hostel room image">
        {% endif %}
        <a><div class="mask rgba-white-slight"></div></a>
    </div>
    <div class="card-body card-body-cascade text-left p-3">
        {% if priceReduced %}
            <div class="remise pink darken-1 z-depth-3">Remise de {{ priceReduced.discount }}%</div>
        {% endif %}
        <h5 class="text-dark h5-responsive font-weight-bold mt-0">{{ room.name }}</h5>
        <ul class="list-unstyled dark-grey-text">
            {% if room.area %}
                <li><i class="fas fa-border-style mr-1 my-2"></i> {{ room.area }} m²</li>
            {% endif %}
            <li><i class="fas fa-user-friends mr-1 my-2"></i> {{ room.occupant }} Personnes</li>
            {% if room.couchage %}
                <li><i class="fas fa-bed mr-1 my-2"></i> {{ room.couchage }}</li>
            {% endif %}
            <li><i class="fas fa-wifi mr-1 my-2"></i> Accès Wi-Fi gratuit</li>
        </ul>

        {% if booking_room_nbr %}
            {% if room_available >= 1 and room_available <= 3 %}
                <div class="small-8 font-weight-stone-500 text-default mb-2">
                    Il reste plus que {{ room_available > 1 ? room_available ~ ' hébergements' : room_available ~ ' hébergement' }} de ce type.
                </div>
            {% endif %}
        {% endif %}

        <div class="detail mb-3">
            <a href="{{ path('app_room_show', {'slug': room.slug}) }}" class="card-link">
                Plus de detail <i class="fas fa-angle-double-right ml-1"></i>
            </a>
        </div>
        <div class="d-flex justify-content-between">
            <div class="price">
                {% set supplement = app_room_supplement(room) %}

                <div class="text-danger number mb-1">
                    {% if priceReduced %}
                        {% set price = room.price + app_room_taxe(room) %}

                        <div class="grey-text">
                            <small>
                                <s>{{ ((price * night * room_nbr) + supplement)|format_currency('XOF') }}</s>
                            </small>
                        </div>
                        <div>
                            <strong>{{ ((app_room_total_price(room) * night * room_nbr) + supplement)|format_currency('XOF') }}</strong>
                        </div>
                    {% else %}
                      <strong>{{ ((app_room_total_price(room) * night * room_nbr) + supplement)|format_currency('XOF') }}</strong>
                    {% endif %}
                </div>
                {% if session %}
                    <div class="dark-grey-text info font-weight-stone-500 w-50">
                        {{ (app_room_total_price(room) * room_nbr)|format_currency('XOF') }}
                        par nuit pour {{ room_nbr }} chambres.
                        Taxes et frais compris
                    </div>
                {% else %}
                    <div class="dark-grey-text info font-weight-stone-500">Taxes et frais compris</div>
                {% endif %}
            </div>
        </div>
        <div class="booking-btn mt-2 mb-0">
            {% set btn_state = room_available <= 0 ? false : true %}

            {% if session %}
                <a href="{{ path('app_booking_check', {'id': room.id}) }}" class="btn btn-primary btn-md btn-block {% if not btn_state %}disabled{% endif %}">
                    <i class="fas fa-calendar-day mr-1"></i>
                    {% if btn_state %}Réserver {% if session %} {{ room_nbr }} {{ room_nbr > 1 ? 'chambres' : 'chambre' }}{% endif %}{% else %}Complet{% endif %}
                </a>
            {% else %}
                <a class="btn btn-primary btn-md btn-block booking-data-select-btn {% if not btn_state %}disabled{% endif %}"
                   data-id="{{ room.id }}" data-url="{{ path('app_booking_select', {'id': room.id}) }}">
                    <i class="fas fa-calendar-day mr-1"></i> {% if btn_state %}Réserver{% else %}Complet{% endif %}
                </a>
            {% endif %}
        </div>
    </div>
</div>


