<div class="form-row mb-2">
    <div class="col-12">
        <div class="h5-responsive" style="border-bottom: 1.8px solid #212121">
            <div class="badge badge-dark d-inline-block mr-1" style="position: relative; bottom: 6px;">1</div>
            <div class="text-dark d-inline-block font-weight-stone-500">Information de base</div>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-12 col-md-4">
        {{ form_row(form.name) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.start) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.end) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.discount) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_widget(form.room) }}
    </div>
</div>
<div class="form-row my-3">
    <div class="col-12 col-md-8">
        <div class="mb-1 font-weight-stone-500 dark-grey-text">Description (Facultatif)</div>
        {{ form_widget(form.description) }}
    </div>
</div>
<div class="form-row mt-4 mb-2">
    <div class="col-12">
        <div class="h5-responsive" style="border-bottom: 1.8px solid #212121">
            <div class="badge badge-dark d-inline-block mr-1" style="position: relative; bottom: 6px;">2</div>
            <div class="text-dark d-inline-block font-weight-stone-500">Visibilité</div>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-12 col-md-4">
        {{ form_widget(form.enabled) }}
    </div>
</div>
<div class="form-row mt-4">
    <div class="col-12">
        <div class="h5-responsive" style="border-bottom: 1.8px solid #212121">
            <div class="badge badge-dark d-inline-block mr-1" style="position: relative; bottom: 6px;">3</div>
            <div class="text-dark d-inline-block font-weight-stone-500">Image</div>
        </div>
    </div>
</div>
<div class="form-row mt-4">
    <div class="col-6 col-md-3 col-lg-3">
        <div class="file-field">
            <div class="btn btn-mdb-color btn-md float-left">
                <span>Choisir une image</span>
                <input type="file" name="{{ form.file.children.file.vars.full_name }}" id="entity-image" />
            </div>
        </div>
    </div>

    {% if promotion is defined %}
        <div class="col-4 col-md-3 col-lg-2">
            <img src="{{ vich_uploader_asset(promotion, 'file') }}" alt="" class="img-fluid img-thumbnail" id="image-view" />
        </div>
    {% else %}
        <div class="col-4 col-md-3 col-lg-2">
            <img src="" alt="" class="img-fluid img-thumbnail" id="image-view" />
        </div>
    {% endif %}
</div>








