<div class="form-row">
    <div class="col-12 col-md-4">
       {{ form_widget(form.enabled) }}
    </div>
    <div class="col-12">
        {{ form_row(form.ipAddresses) }}
    </div>
    <div class="col-12">
        {{ form_widget(form.customMessage) }}
    </div>
    <div class="col-12 col-md-4 mt-3">
        <div class="font-weight-stone-500 dark-grey-text" style="margin-bottom: -1.5rem !important;">Commence le</div>
        {{ form_row(form.startDate) }}
    </div>
    <div class="col-12 col-md-4 mt-3">
        <div class="font-weight-stone-500 dark-grey-text" style="margin-bottom: -1.4rem !important;">Se termine le</div>
        {{ form_row(form.endDate) }}
    </div>
</div>
