<div class="row">
    <div class="col-12 col-md-4">
        {{ form_row(form.discount) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.code) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.utilisation) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_widget(form.type) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_widget(form.enabled) }}
    </div>
</div>
